# pip install torch===1.4.0 torchvision===0.5.0 -f https://download.pytorch.org/whl/torch_stable.html
torch==1.4.0
torchvision
ignite
yacs
# conda install -c pytorch ignite
# pip install pytorch-ignite==0.1.2